<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="../jsdir/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName" placeholder="请输入你的姓"></input><br/>
        名：<input type="text" v-model="lastName" placeholder="请输入你的名"></input><br/>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false
        const vm= new Vue({
            el: '#root',
            data: {
                firstName:'张',
                lastName:'三'
            },
            //完整写法
            /* computed:{
                fullName:{
                    get(){  //get什么时候被调用：1、fullName第一次被读取时被调用，且将值加入到缓存当中  2、当fullName所依赖的值被修改时，get方法被调用，并修改之前缓存的值
                        return this.firstName+'-'+this.lastName
                    }
                }
            } */
            //简写  当计算属性没有set时才能简写
            computed:{
                fullName(){
                    return this.firstName+'-'+this.lastName
                }
            }
        })
        
    </script>
</body>

</html>