<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="../jsdir/vue.js"></script>
</head>

<body>
    <div id="root">
        <form @submit.prevent="demo">
            账号：<input type="text" v-model.trim="userInfo.account"><br/><br/>
            密码：<input type="password" v-model="userInfo.password"><br/><br/>
            年龄：<input type="number" v-model.number="userInfo.age"><br/><br/>
            性别：
            男<input type="radio" name="sex" v-model="userInfo.sex" value="male"/>
            女<input type="radio" name="sex" v-model="userInfo.sex" value="famale"/><br/><br/>
            爱好：
            学习<input type="checkbox" v-model="userInfo.hobby" value="study"/>
            打游戏<input type="checkbox" v-model="userInfo.hobby" value="game"/>
            吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat"/><br/><br/>
            所属校区：
            <select v-model="userInfo.city">
                <option value="">请选择</option>
                <option value="beijing">北京</option>
                <option value="shenzhen">深圳</option>
                <option value="wuhan">武汉</option>
                <option value="chongqing">重庆</option>
            </select><br/><br/>
            其他信息：
            <textarea v-model.lazy="userInfo.other"></textarea><br/><br/>
            <input type="checkbox" v-model="userInfo.agree" /><a href="https://www.baidu.com">《用户协议》</a><br/><br/>
            <button>提交</button>
        </form>
    </div>
    <script>
        Vue.config.productionTip = false
        new Vue({
            el: '#root',
            data: {
               userInfo:{
                    account:'',
                    password:'',
                    age:undefined,
                    sex:'',
                    hobby:[],
                    city:'',
                    other:'',
                    agree:false
               }
            },
            methods: {
                demo(){
                    alert(JSON.stringify(this.userInfo))
                }
            },
        })
    </script>
</body>

</html>
<!-- 收集表单数据：
    若：<input type="text" />，则v-model收集的是value的值，用户输入的就是value的值
    若：<input type="radio" />，则v-model收集的是value的值，且要给标签配置value的值
    若：<input type="radio" />
        1、没有配置input的value的属性，那么收集的就是checked（勾选 or 未勾选，是布尔值）
        2、配置input的value属性：
            （1）v-model的初始值是非数组，那么收集的就是checked（勾选 or 未勾选，是布尔值）
            （2）v-model的初始值是数组，那么收集的就是value组成的数组
    备注：v-model的三个修饰符
        lazy：失去焦点再收集数据
        number：只取开头为数字的部分
        trim：输入的数据去除首尾的空格 -->