<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="../jsdir/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>学校的信息</h1>
        <h2>学校名称：{{name}}</h2>
        <h2>学校地址：{{address}}</h2>
        <hr/>
        <h1>学生的信息</h1>
        <button @click="addSex">点我添加一个性别默认为男</button>
        <h2>学生名字：{{student.name}}</h2>
        <h2>学生年龄：{{student.age.sage}}----学生的真实年龄：{{student.age.rage}}</h2>
        <h2 v-if="student.sex != undefined">学生性别：{{student.sex}}</h2>
        <h2>学生的朋友们</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                名字：{{f.name}}---年龄：{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false
        
        const vm = new Vue({
            el: '#root',
            data: {
                name:'尚硅谷',
                address:'北京',
                student:{
                    name:'tom',
                    age:{
                        rage:50,
                        sage:18
                    },
                    friends:[
                        {name:'jerry',age:20},
                        {name:'suly',age:18},
                        {name:'jack',age:19}
                    ]
                }
            },
            methods: {
                addSex(){
                    /* Vue.set(this.student,'sex','男') //为student后添加一个sex属性 */
                    this.$set(this.student,'sex','男') //为student后添加一个sex属性
                }
            }
            
        })
    </script>
</body>

</html>